
<div class="row">
    <div class="col-md-12">
        <div class="tabs">
            <ul class="nav nav-tabs tabs-left" id="demo-pill-nav">
                <li class="active">
                    <a href="#tab-r1" data-toggle="tab"> <span class="hidden-mobile">Ap. Cardiovascular</span> <span class="visible-mobile hidden-desktop">Cardio</span> </a>
                </li>
                <li>
                    <a href="#tab-r2" data-toggle="tab"><span class="hidden-mobile">Ap. Respiratorio</span> <span class="visible-mobile hidden-desktop">Resp.</span></a>
                </li>
                <li>
                    <a href="#tab-r3" data-toggle="tab"><span class="hidden-mobile">Infectológico</span> <span class="visible-mobile hidden-desktop">Infect.</span></a>
                </li>
                <li>
                    <a href="#tab-r4" data-toggle="tab"><span class="hidden-mobile">Hidr/Metab/Nutr</span> <span class="visible-mobile hidden-desktop">HMN</span></a>
                </li>
                <li>
                    <a href="#tab-r5" data-toggle="tab"><span class="hidden-mobile">Sist. Nervioso Central</span> <span class="visible-mobile hidden-desktop">SNC</span></a>
                </li>
                <li>
                    <a href="#tab-r6" data-toggle="tab"><span class="hidden-mobile">Hematológico</span> <span class="visible-mobile hidden-desktop">Hem</span></a>
                </li>
                <li>
                    <a href="#tab-r7" data-toggle="tab"><span class="hidden-mobile">Cirugía</span> <span class="visible-mobile hidden-desktop">Cirug..</span></a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-r1" style="overflow: hidden">
                    <div id="divApCardiovascular"></div>
                </div>
                <div class="tab-pane" id="tab-r2">
                    <div id="divApRespiratorio"></div>
                </div>
                <div class="tab-pane" id="tab-r3">
                    <div id="divInfectologico"></div>
                </div>
                <div class="tab-pane" id="tab-r4">
                    <div id="divHMN"></div>
                </div>
                <div class="tab-pane" id="tab-r5">
                    <div id="divSNC"></div>
                </div>
                <div class="tab-pane" id="tab-r6">
                    <div id="divHematologico"></div>
                </div>
                <div class="tab-pane" id="tab-r7">
                    <div id="divCirugia"></div>
                </div>
            </div>
        </div>
    </div>
</div>

