<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon">
                        <i class="fa fa-table"></i>
                    </span>
                    <h2>Lista de Pacientes </h2>
                </header>

                <div>
                    <div class="widget-body">
                        <div class="form-group">
                            <div id="divListado"></div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

@section Scripts {
    <script src="~/js/paciente/list.camas.pacientes.js"></script>
}
